
@{
    ViewBag.Title = "AppointmentRegisterSuccess";
}

    <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-success">
            <div class="panel-heading">Success !</div>
            <div class="panel-body text-center">
                <div class="">
                    The appointment was successfully registered.<br />
                </div>
                <div class="padding-top-20 padding-bottom-60">
                    <img src="/Content/images/smiling-face.png" style="width:50px" />
                </div>

                <a href="/Owner/Index" class="btn btn-primary text-uppercase"> My appointments</a>
            </div>
        </div>
    </div>

