
@{
    ViewBag.Title = "Admin Dashboard";
}

<div class="text-center" style="height: 80vh; ">
    <div style="height: 30vh;"></div>
    <h1>
        Pet Spa Dashboard
    </h1>
</div>
<style>
    h1{
        font-weight:bold;
        font-size: 50px; 
        color: #ddd; 
        vertical-align: middle;
        display:inline-block;
    }
</style>