@{
    ViewBag.Title = "Success Register";
}

<h3>Groomer Register</h3>

<div>
    <hr />
    <p>
        
            The groomer account was successfuly created.
            An email with authenthicated credentials was sent to the groomer.
       
    </p>
</div>
<div class="spacer"></div>

 <h5> Email content (for demo only)</h5>
 <div class="email-content">


        <p> Wellcome to Pet Grooming Team. An account was created for you on </p>
        <p>        <a href="#">https:\\petgrooming.com</a>. </p>
        <p>   Please log into your account with theese credentials, and change your password.</p>
        
        <dl class="dl-horizontal">
            <dt>
                User:
            </dt>
            <dd>
                @ViewBag.Email
            </dd>
            <dt>
                Pass:
            </dt>
            <dd>
                @ViewBag.Pass
            </dd>
        </dl>
    </div>
<div class="spacer"></div>

<p>
    @Html.ActionLink("Back to Groomers List", "Index")
</p>

<style>
    .email-content {
        font-family: courier;
        border: 1px dashed grey;
        text-align:justify;
        width: 50rem;
        padding: 10px;
    }
    .spacer {
        height: 30px;
    }
</style>