@{
    ViewBag.Title = "Success Register";
    ViewBag.targetMenu = "groomers";
}

<div class="col-md-8 col-md-offset-2">
    
    <div style="height: 10vh;"></div>
    
    <div class="panel panel-success" style="height:50vh;">
        <div class="panel-heading">Success !</div>
        <div class="panel-body text-center">
            <p>

                The groomer account was successfuly created.<br />
                The authenthicated credentials was sent to the groomer by email.

            </p>
            <div class="text-warning">@ViewBag.EmailResult</div>
            @*<div class="padding-top-20 padding-bottom-60">
            <img src="/Content/images/smiling-face.png" style="width:50px" />
        </div>*@
            <div style="height: 10vh;"></div>

            <a href="/Groomer/Index" class="btn btn-default text-uppercase">
                <i class="glyphicon glyphicon-menu-left"></i>
                Back to Groomer List
            </a>
        </div>
    </div>
</div>

<div class="spacer"></div>