@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @{
                string role = User.IsInRole("admin") ? "admin" : User.IsInRole("staff") ? "staff" : "user";
            }
            @Html.ActionLink("Hello " + User.Identity.GetUserName() + " !", "ChangePassword", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li>
            <a href="javascript:document.getElementById('logoutForm').submit()" title="Log out">
                <span class="glyphicon glyphicon-log-out"></span>
            </a>
        </li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a href="/Owner/Register/registerLink" class="" title="Sign up">
                <span class="glyphicon glyphicon-user" ></span>
            </a>
         </li>
        <li>
            <a href="/Account/Login/loginLink" title="Log in">
                <span class="glyphicon glyphicon-log-in"></span>
            </a>
        </li>
    </ul>
}
